---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Nova Blog!</h1>
			<img alt="avatar" src="/nova-avatar.jpg">
			<p>
				Hi my name is Nova or William Nguyen! I'm final year student in Vietnam National University and my majority is Computer Science! 
			</p>
			<p>
			In the near future, I want to become a great Software Engineer and work for Big Tech Company.
			</p>
			<p>
			This is the blog where I share both my knowledges and my learning path in various fields including Software Engineer, English, ...
			</p>
			<p>
			This is my personal blog! Hope your guys like it!
			</p>
		</main>
		<Footer />
	</body>
</html>
